body {
    background-color: #222;
}

.header{
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 120px;
    width: 100%;
    background-color:#333;
    z-index: 1;

}
.menu{
    display: inline-block;
    width: 1200px;
    margin:0 auto;
    text-align:center;
}

.nav-item{
    overflow: auto;
    list-style-type:none;
    float: left;
}
.nav-item-link{
    display: block;
    padding: 34px;
    white-space: nowrap;
    line-height: 41px;
    text-decoration: none;
    color: #ffffff;
}

.you{
    margin: 40px;
}

.icons{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 18px;
    margin-left: -98px;
    opacity:0.2;
    filter:alpha(opacity=40);
    z-index: -1;
}

.item2{
    width: 180px;
    border-right: 1px solid #222222;
}
.item2:hover{
    background-color: #222;
}

.aa{
    font-size:36px
}
.bb{
    position: absolute;
    font-size: 12px;
    top: 28px;
}
.cc{
    font-size: 12px;
}



.fen{
    height: 120px;
    width: 1px;
    background-color: #222;
    margin-top:100px auto;
}

.content{
    margin: auto;
    text-align: center;
    margin-top: 71px;
}
.zuoyou{
    display: inline-block;
    width: 1200px;
}
.heng1{
    width: 90px;
    height: 15px;
    background: #222;
    border-radius: 12px;
    position: relative;
     top: 83px;
     left: 555px;
    background-image:linear-gradient(to left,#333333,#666666);
    z-index: 1
}
.heng2{
    width: 90px;
    height: 15px;
    background: #222;
    border-radius: 12px;
    position: relative;
     top: 538px;
     left: 555px;
    background-image:linear-gradient(to left,#333333,#666666);
    z-index: 1
}
.yuan{
    width: 20px;
    height: 20px;
    background: #333;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

}
.yuan_r1{
   position: relative;
  top: 50px;
  left: 550px;
}
.yuan_r2 {
     position: relative;
  top: 500px;
  left: 550px;
}
.yuan_l1{
    position: relative;
  top: 50px;
  left: 25px;
}
.yuan_l2{
   position: relative;
  top: 500px;
  left: 25px;
}

.left{
    height: 600px;
    width: 49.5%;
    background-color: #666;
    float: left;
}
.u1{
    width: 25%;
    margin-top: 120px;
}

.right{
    height: 600px;
    width: 49.5%;
    background-color: #555;
    float: right;
}

p{
    color: #e0e0e0;
    font-size: 12px;
    margin: 0;
}
p.test{
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom : 30px;
    margin-top: 10px;
}

.ps{
    text-align: center;
    display: inline-block;
    margin: 40px;

}
.skills{
    margin: 4px;
    width: 30px;
    height: 30px;
}

.foot{
    margin:auto;
    text-align: center;
    width: 1200px;
    height: 200px;
    background-color: #E0E0E0;
}
.foot p{
    color: #666;
}
.topss{
    padding: 76px;
}