body {
    background-color: #222;
    margin:0px auto;
    text-align:center;
}

#header{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 120px;
    width: 100%;
    background-color:#333;

}
.menu{
    width: 1200px;
    margin:0px auto;
    text-align:center;
}

.nav-item{
    float: left;
    list-style-type:none;
}
.nav-item-link{
    display: block;
    padding: 34px;
    white-space: nowrap;
    line-height: 41px;
    text-decoration: none;
    color: #ffffff;
}

.you{
    width: 300px;
    height: 120px;
}

.ss{
    padding: 20px;
}

.item2{
    width: 180px;

}
.item2:hover{
    background-color: #222;
}




.aa{
    font-size:36px
}
.bb{
    position: absolute;
    font-size: 12px;
    top: 28px;
}
.cc{
    font-size: 12px;
}



.fen{
    height: 120px;
    width: 1px;
    background-color: #222;
    margin-top:100px auto;
}
#aabb{
    height: 1000px;
    width: 1200px;
    margin:0 auto;
    background-color: #FFFFFF;

}
